<div class="container">
  <h1>Dashboard</h1>
  <div class="row my-2 row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col">
      <div class="card border-dark mb-3" style="max-width: 18rem">
        <div class="card-header">Usuarios aprobados</div>
        <div class="card-body">
          <h5 class="card-title">5</h5>
          <p class="card-text">
            Mayores detalles en el módulo de administración.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-dark mb-3" style="max-width: 18rem">
        <div class="card-header">Cajeros</div>
        <div class="card-body">
          <h5 class="card-title">5</h5>
          <p class="card-text">
            Mayores detalles en el módulo de administración.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-dark mb-3" style="max-width: 18rem">
        <div class="card-header">Gestores</div>
        <div class="card-body">
          <h5 class="card-title">1</h5>
          <p class="card-text">
            Mayores detalles en el módulo de administración.
          </p>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
  <div class="row my-2">
    <h2>Cajas</h2>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">
        <div class="card border-dark mb-3" style="max-width: 18rem">
          <div class="card-header">Caja</div>
          <div class="card-body">
            <h5 class="card-title">1</h5>
            <p class="card-text">
              Mayores detalles en el módulo de administración.
            </p>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="card border-dark mb-3" style="max-width: 18rem">
          <div class="card-header">Caja</div>
          <div class="card-body">
            <h5 class="card-title">1</h5>
            <p class="card-text">
              Mayores detalles en el módulo de administración.
            </p>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="card border-dark mb-3" style="max-width: 18rem">
          <div class="card-header">Caja</div>
          <div class="card-body">
            <h5 class="card-title">1</h5>
            <p class="card-text">
              Mayores detalles en el módulo de administración.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="row">
    <button type="button" class="btn btn-success text-center my-2" style="max-width: 150px;">Refrescar</button>
  </div>
</div>
